<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tarefas - Professor</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<h1>Gerenciar Tarefas</h1>

<a href="/professor/tarefas/nova">Criar Nova Tarefa</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Entrega</th>
        <th>Ações</th>
    </tr>

    <tr th:each="t : ${listaTarefas}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.titulo}"></td>
        <td th:text="${t.dataEntrega}"></td>
        <td>
            <a th:href="@{'/professor/tarefas/editar/' + ${t.id}}">Editar</a>
            <a th:href="@{'/professor/tarefas/excluir/' + ${t.id}}">Excluir</a>
        </td>
    </tr>

</table>

</body>
</html>
